<h2>Tareas Pendientes</h2>
<div
  cdkDropList
  [cdkDropListData]="tareasPendientes"
  (cdkDropListDropped)="drop($event, 'pendiente')"
  class="lista">
  <div class="tarea" *ngFor="let tarea of tareasPendientes" cdkDrag>
    {{ tarea.nombre_tarea }}
  </div>
</div>

<h2>En Progreso</h2>
<div
  cdkDropList
  [cdkDropListData]="tareasEnProgreso"
  (cdkDropListDropped)="drop($event, 'en_progreso')"
  class="lista">
  <div class="tarea" *ngFor="let tarea of tareasEnProgreso" cdkDrag>
    {{ tarea.nombre_tarea }}
  </div>
</div>

<h2>Terminadas</h2>
<div
  cdkDropList
  [cdkDropListData]="tareasTerminadas"
  (cdkDropListDropped)="drop($event, 'terminada')"
  class="lista">
  <div class="tarea" *ngFor="let tarea of tareasTerminadas" cdkDrag>
    {{ tarea.nombre_tarea }}
  </div>
</div>
